@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary: #0092cf;
  --secondary: #dfe7ef;
  --accent: #fab040;
  --light: #feffff;
  --dark: #656565;

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section,
article {
  border: 1px solid red;
}

/* Top-Level Layout */

.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
}

/* Sidebar Layout */
.sidebar {
  grid-column: 1 / 2;
  grid-row: span 2;
  background: var(--primary);
}

/* Sidebar Nav Grid */
.sidebar .nav-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}

.nav-grid .navbar-upper {
  grid-column: span 1;
  grid-row: 1 / 2;
}

.nav-grid .navbar-lower {
  grid-column: span 1;
  grid-row: 2 / 3;
}

/* Header */
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background: pink;
}

.header .header-upper {
  grid-column: span 1;
  grid-row: 1 / 2;
  background: green;
}

.header .header-lower {
  grid-column: span 1;
  grid-row: 2 / 3;
  background: greenyellow;
}

/* Content Grid */
.content-grid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 20px;

  background: navy;
  color: white;
}

/* Content Cards */
.content-grid .cards {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

/* Card Grid */
.cards .card-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.cards .card-grid .card {
  background: seagreen;
}

/* Aside Cards */
.aside {
  display: flex;
  flex-direction: column;
}

.aside .aside-wrapper {
  height: 100%;
  width: 100%;
  content: " ";
  background: rosybrown;
}

/* Styling */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar .navbar {
  padding-left: 1rem;
}

.navbar > li {
  margin-bottom: 0.5rem;
}

.navbar > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light);
  text-transform: capitalize;
}

.navbar > li > a > img {
  width: 35px;
  margin-right: 15px;
  filter: invert(1);
}

/* Header */
.header {
  padding: 0.5rem 2rem;
  box-shadow: 3px 3px 15px 5px rgba(51, 51, 51, 0.3);
}

/* Header Upper */
.header .header-upper {
  display: flex;
  justify-content: space-between;
}

/* Header Upper - Searchbar */
.header-upper .search {
  display: flex;
  align-items: center;
}

.header-upper .search img {
  width: 35px;
  margin-right: 15px;
}

.header-upper .search input {
  background: var(--secondary);
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  width: 20rem;
  font-size: 1.2rem;
}

.header-upper .search input:focus {
  outline: none;
}

/* Header Upper - User Status */
.header-upper .user-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-upper .user-status .bell {
  width: 35px;
}

.header-upper .user-status .profile {
  width: 50px;
  margin: 0 20px;
}

.header-upper .user-status .user {
  text-transform: capitalize;
}

/* Header Lower */
.header .header-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Header Lower - Greeting */
.header-lower .greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-lower .greeting img {
  width: 50px;
  margin-right: 1rem;
}

.header-lower .greeting > div h2 > span {
  text-transform: capitalize;
}

.header-lower .header-nav {
  display: flex;
  align-items: center;
}

.header-lower .header-nav a {
  display: block;
  margin: 0 1rem;
  padding: 0.5rem 1.3rem;
  background: var(--primary);
  color: var(--light);
  border-radius: 1rem;
  text-transform: capitalize;
}
